<div class="row">
  <div class="col-xs-4">
    <div id="name_and_message">
      <h1><%= artist.get("artistname") %></h1>
    </div>
      
    <div class="thumbnail">
      <img src="<%= artist.get("image_url") %>" id="large"></img>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <% if (artist.get("artistname")) { %>
          ABOUT <%= artist.get("artistname").toUpperCase() %>
          <% } %>
        </h3>
      </div>
      <div class="panel-body" id="about"><%= artist.get("about") %></div>
    </div>
  </div>
    
  
  <div class="col-xs-8">
    <% for (var i = 0; i < tracks.length; i++) { %>
      <a href="<%= '#/tracks/' + tracks[i].id %>">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="track"><%= tracks[i].get('title') %></span> <span class="track-by">by</span> <span class="track-artist"><%= artist.get('artistname') %></span>
          </div>
        </div>
      </a>
    <% } %>
  </div>
</div>