<!DOCTYPE html>
<html>
  <head>
    <title>RapGenius</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="http://api.filepicker.io/v1/filepicker.js"></script>
    <script>filepicker.setKey("<%= ENV["FILEPICKER_API_KEY"] %>");</script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/errors' %>
      <%= render 'sessions/form' %>
      <%= render 'users/form' %>
  
      <%= yield %>
    </div>
  </body>
</html>
